nav {
    padding: 0 1rem;
    height: 150px;
}

.top-line {
    height: 30px;
}

.brand-logo img {
    height: 100px;
    padding-left: 3vw;
}

.enter-registration-label {
    display: flex;
    justify-content: flex-end;
    color: white;
    padding-top: 3px;
}

.enter-registration-link {
    /* display: flex;
    justify-content: flex-end;
    color: white; */
    padding: 1px 15px;
    cursor: pointer;
}

.main-search {
    width: 60vw;
    margin-left: auto;
    margin-right: auto;

    border: 2px solid;
    border: #921d25;
}



/* @media only screen and (min-width: 601px) */

/* @media only screen and (min-width: 601px) */
@media (max-width: 1090px) {
    .main-search {
        width: 50vw;
    }
}

@media (max-width: 992px) {
    nav {
        height: 250px;
    }

    .main-search {
        padding-top: 100px;
        width: 90%;
    }
}




