nav {
    padding: 0 1rem;
    height: 140px;
}

.top-line {
    height: 30px;
}

.brand-logo img {
    height: 100px;
    padding-left: 3vw;
    padding-top: 5px;
}

.enter-registration-label {
    display: flex;
    justify-content: flex-end;
    color: white;
    padding-top: 3px;
}

.enter-registration-link {
    padding: 1px 15px;
    cursor: pointer;
}

.main-search {
    width: 60vw;
    margin-left: auto;
    margin-right: auto;

    border: 2px solid;
    border: #921d25;
}

@media (max-width: 1090px) {
    .main-search {
        width: 50vw;
    }
}

@media (max-width: 992px) {
    nav {
        height: 250px;
    }

    .main-search {
        padding-top: 100px;
        width: 90%;
    }
}
