.nh-brand-logo {
    display: flex;
    align-items: center;
    width: 270px;
    margin-left: 5vw;
    margin-right: 1vw;
    text-decoration: none;
}

.nh-logo-container {
    display: flex;
    align-items: center;
}

.nh-logo-pic-image {
    width: auto;
    height: 100%;
    margin-right: -20px; /* Подберите нужный вам отступ */
}

.nh-logo-text {
    width: auto;
    height: 100%;
    margin-left: -20px; /* Подберите нужный вам отступ */
    padding-right: 20px;
}

.nh-slogan {
    color: white;
    font-size: 9px;
    padding-left: 2px;
    letter-spacing: 0.6px;
    font-weight: 500;
    background: rgb(179, 195, 108);
    width: 80px;
    transform: rotate(270deg);
    white-space: nowrap;
}

@media (max-width: 1160px) {
    .nh-brand-logo {
        margin-left: 0;
    }
}
