.samples-container {
    width: 50%;

    border: 1px solid rgb(242, 241, 241);
    background-color: white;
    border-radius: 5px;

    margin: 2rem 5px 0 5px;
    padding: 5px;
}

.sample-container {
    padding: 0;

    width: 100%;
}

.card.sample-card {
    width: calc(
        25% - 2px
    ); /* Рассчитываем ширину каждой карточки, учитывая отступы между ними */
    margin-right: 5px; /* Отступ между карточками */
    float: left; /* Используем float для выравнивания по горизонтали */
    box-sizing: border-box; /* Учитываем padding и border в ширине элемента */

    padding: 5px; /* Поля вокруг содержимого карточки */
    min-width: 100px;
}

.card.sample-card:last-child {
    margin-right: 0; /* Убираем отступ у последней карточки */
}

.samples-container-title h6 {
    font-weight: 600;
    cursor: pointer;
    margin-left: 15px;
}

.card.sample-card {
    box-shadow: none;
    border-radius: 5px;

    margin: 2px;
}
.card-image.sample-image img {
    border-radius: 5px;
}

.sample-price-text.card-title {
    font-size: 12px;
    text-align: center;
    font-weight: 600;
    margin-bottom: 0 !important;
}

.card-content.sample-price-area {
    padding: 0;
}
